    {{#each posts as |Post|}}
        {{>dashboard-post}}
    {{/each}}

<h2>Add a new Post</h2>
<form class="dashboard-form">
    <div>
        <label for="post-title">Title:</label>
        <input type="text" id="post-title" />
    </div>
        <div>
        <label for="post-content">Content:</label>
        <input type="text" id="post-content"/>
    </div>
    <div>
        <button type="submit">Post</button>
    </div>
</form>

<script src="/js/newPost"></script>