<h2>Add a new Post </h2>
<div class="form-group">
    <button class="btn btn-primary" type="submit"><a href="newPost">+ New Post</a></button>
    {{#if posts.length}}

    {{#each posts as |post|}}
        {{>dashboard-post post}}
    {{/each}}

    {{/if}}
</div>

<script src="/js/newPost"></script>