<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Create a New Post</h2>
            <form class="form newPost">
                <input type="hidden" name="post-id" value="{{post.id}}">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-input" type="text" id="title" />
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea class="form-input" id="content" /></textarea>
                </div>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</body>
</html>
<script src="/js/newPost.js"></script>